{% extends '::layout_crud.html.twig' %}
{% block title_wrapper %}A침adir junta de evaluaci칩n{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="alert alert-info">
                {{ course }}
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                {{ form_start(form, {'attr': {'role': 'form' }}) }}
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            {{ form_errors(form.assessment_type) }}
                            <label>{{ form_label(form.assessment_type) }}</label>
                            {{ form_widget(form.assessment_type,{'attr':{'class':'form-control','placeholder':'Evaluaci칩n'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_errors(form.date) }}
                            <label>{{ form_label(form.date) }}</label>
                            {{ form_widget(form.date,{'attr':{'placeholder':'Fecha'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_errors(form.information) }}
                            <label>{{ form_label(form.information) }}</label>
                            {{ form_widget(form.information,{'attr':{'class':'tinymce','placeholder':'Informaci칩n'}}) }}
                        </div>
                    </div>
                </div>
                <input type="submit" value="Crear"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('course_index') }}">Back to the list</a>
        </li>
    </ul>
    {{ tinymce_init() }}
{% endblock %}