{% extends '::layout_crud.html.twig' %}
{% block title_wrapper %}Añadir junta de evaluación{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="alert alert-info">
                {{ course }}
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                {{ form_start(form, {'attr': {'role': 'form' }}) }}
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            {{ form_errors(form.assessment_type) }}
                            <label>{{ form_label(form.assessment_type) }}</label>
                            {{ form_widget(form.assessment_type,{'attr':{'class':'form-control','placeholder':'Evaluación'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_errors(form.date) }}
                            <label>{{ form_label(form.date) }}</label>
                            {{ form_widget(form.date,{'attr':{'placeholder':'Fecha'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_errors(form.information) }}
                            <label>{{ form_label(form.information) }}</label>
                            {{ form_widget(form.information,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.learning_difficulties) }}
                            <label>{{ form_label(form.learning_difficulties) }}</label>
                            {{ form_widget(form.learning_difficulties,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.coexistence_difficulties) }}
                            <label>{{ form_label(form.coexistence_difficulties) }}</label>
                            {{ form_widget(form.coexistence_difficulties,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.family_date) }}
                            <label>{{ form_label(form.family_date) }}</label>
                            {{ form_widget(form.family_date,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.support) }}
                            <label>{{ form_label(form.support) }}</label>
                            {{ form_widget(form.support,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.change_optional) }}
                            <label>{{ form_label(form.change_optional) }}</label>
                            {{ form_widget(form.change_optional,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.other_interesting) }}
                            <label>{{ form_label(form.other_interesting) }}</label>
                            {{ form_widget(form.other_interesting,{'attr':{'class':'tinymce','placeholder':'Información'}}) }}
                        </div>
                    </div>
                </div>
                <input type="submit" value="Crear"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('course_index') }}">{{"Back to the list"|trans}}</a>
        </li>
    </ul>
    {{ tinymce_init() }}
{% endblock %}