{% extends '::layout_crud.html.twig' %}
{% block title_wrapper %}Editar{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="alert alert-info">
                {{ assessmentBoardLearningDifficulties.student }}
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                {{ form_start(edit_form, {'attr': {'role': 'form' }}) }}
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            {{ form_errors(edit_form.learning_difficulties) }}
                            <label>{{ form_label(edit_form.learning_difficulties) }}</label>
                            {{ form_widget(edit_form.learning_difficulties,{'attr':{'class':'form-control','placeholder':'Dificultades'}}) }}
                        </div>
                        <input type="submit" value="Editar"/>
                        {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" onclick="return confirm('¿Estás segura/o?')">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
