{% extends '::layout_crud.html.twig' %}
{% form_theme form _self %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="alert  {{ cycle(['alert-info','alert-warning','alert-danger'], loop.index0) }}">
                {{- form_widget(child) -}}
                {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}
{% block title_wrapper %}Añadir Evolución Académica.{% endblock %}
{% block main -%}
    <div class="panel panel-default">
        <div class="alert alert-info">
            <p>Información sobre la/el estudiante: {{ student }} para la reunión {{ meeting }}</p>
        </div>
        <div class="panel-body">
            {{ form_start(form,{'attr': {'role': 'form' }}) }}
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel-body">
                        <div class="form-group">

                            {{ form_errors(form.academic) }}
                            <div class="alert alert-success">
                                {{ form_label(form.academic) }}
                            </div>

                            {{ form_widget(form.academic,{'attr':{'placeholder':''}})|raw }}

                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>


    </div>
    <ul>
        <li>
            <a href="{{ path('student_show', {'id': student.id}) }}">Volver a la ficha de estudiante</a>
        </li>
    </ul>

{% endblock %}