{% extends 'base.html.twig' %}

{% block body %}
    <h1>Academicinformations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Date</th>
                <th>Information</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for academicInformation in academicInformations %}
            <tr>
                <td><a href="{{ path('academicinformation_show', { 'id': academicInformation.id }) }}">{{ academicInformation.id }}</a></td>
                <td>{% if academicInformation.created %}{{ academicInformation.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if academicInformation.updated %}{{ academicInformation.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if academicInformation.date %}{{ academicInformation.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ academicInformation.information }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('academicinformation_show', { 'id': academicInformation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('academicinformation_edit', { 'id': academicInformation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('academicinformation_new') }}">Create a new academicInformation</a>
        </li>
    </ul>
{% endblock %}
