<div class="tab-pane fade"
     id="mediation_needed">
    <h4>Mediaciones que ha necesitado</h4>
    {% for mediation in student.getFirstStudents %}
        <p><a href="{{ path('mediation_show', {'id': mediation.id}) }}">Mediación con {{ mediation.getSecondStudent }}</a> ({{ mediation.getDate|localizeddate('long','none','es') }})
        </p>
    {% endfor %}
    {% for mediation in student.getSecondStudents %}
        <p><a href="{{ path('mediation_show', {'id': mediation.id}) }}">Mediación con {{ mediation.getFirstStudent }}</a> ({{ mediation.getDate|localizeddate('long','none','es') }})
        </p>
    {% endfor %}

</div>