<div class="tab-pane fade"
     id="meetings">
    <h4>Listado de reuniones</h4>

    {% for meeting in student_meetings %}
        <div class="alert  {{ cycle(['alert-info', 'alert-success','alert-warning','alert-danger'], loop.index0) }}">
            <a href="{{ path('meeting_show', {'id': meeting.id}) }}">{{ meeting }}</a> | <a
                    href="{{ path('meeting_edit', {'id': meeting.id}) }}">Editar</a><br>
            Estado: ({{ meeting.meetingStatus }}). <br>
            Fecha: {{ meeting.date|localizeddate('long','none','es') }}<br>


            Añadir Evolución Académica: <a
                    href="{{ path('academicinformation_new', {'meeting_id': meeting.id}) }}">nueva </a>
            {% if student.academicInformations|length>0 %}
                o <a
                    href="{{ path('academicinformation_associate', {'meeting_id': meeting.id}) }}">existente</a>
            {% endif %}


        </div>


    {% endfor %}

</div>