<ul class="list-inline">
    <li><a href="{{ path('student_edit', {'id': entity.id}) }}">Editar datos personales</a></li>
    {% if  app.request.attributes.get('_route') =='student_show' %}
        {% if  (is_granted("ROLE_TEACHER") and app.user.getTeacher.getMentorCourse.id is defined
        and entity.getCourse.getId is defined
        and app.user.getTeacher.getMentorCourse.id==entity.getCourse.getId) %}
            <li><a href="{{ path('course_show', {'id': app.user.getTeacher.getMentorCourse.id}) }}">Listado de
                    estudiantes del curso {{ app.user.getTeacher.getMentorCourse.title }}</a></li>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_JEFATURA") or  (is_granted("ROLE_TEACHER") and app.user.getTeacher.getMentorCourse.id is defined
            and entity.getCourse.getId is defined
        and app.user.getTeacher.getMentorCourse.id==entity.getCourse.getId) %}
            {#{% if "now"|date("m/d/Y") > real_course.endDateCourse %}#}
                <li><a href="{{ path('student_promote', {'id': student.id}) }}">Promocionar </a>
                </li>
            <li><a href="{{ path('meeting_new', { 'student_id': entity.id}) }}">Programar reunión
                </a></li>
            <li><a href="{{ path('warning_new', {'student': entity.id}) }}">Añadir incidencia</a> </li>
            {#{% endif %}#}
        {% endif %}


    {% else %}
        <li><a href="{{ path('student_show', {'id': entity.id}) }}">Ver detalles</a></li>
    {% endif %}
</ul>
<ul class="list-inline">
    <li>
        {% if is_granted("ROLE_ADMIN") %}
            {{ form_start(delete_form) }}
            <input type="submit" value="{{ "Delete"|trans }}">
            {{ form_end(delete_form) }}
        {% endif %}
    </li>

</ul>