<p></p>
{% if student.getStudentSchool.getId is defined %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Contexto escolar
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Repite curso:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getRepeatGrade} %}

                    </p>
                    <p>
                        <strong>Tiene adaptación curricular:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getAdapted} %}
                    </p>
                    <p>
                        <strong>Promociona con asignaturas suspensas:</strong>
                        {% if student.getStudentSchool.getAdvanceWithFail is null %}
                            Sin definir
                        {% elseif student.getStudentSchool.getAdvanceWithFail == 1 %}
                            Sí<br>{{ student.getStudentSchool.getFailSubject }}
                        {% elseif  student.getStudentSchool.getAdvanceWithFail ==2 %}
                            No
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Dificultades de aprendizaje
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Comprensión lectora:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getReadingComprehension} %}

                    </p>
                    <p>
                        <strong>Comprensión oral:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getOral} %}

                    </p>
                    <p>
                        <strong>Expresión escrita:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getWritten} %}

                    </p>
                    <p>
                        <strong>Expresión oral:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getOralExpression} %}

                    </p>
                    <p>
                        <strong>Cálculo:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getCalculation} %}

                    </p>
                    <p>
                        <strong>Resolución de problemas:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getTroubleshooting} %}

                    </p>
                    <p>
                        <strong>Ortografía:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getSpelling} %}
                    </p>
                    <p>
                        <strong>Vocabulario:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getVocabulary} %}
                    </p>
                    <p><strong>Interés por el aprendizaje:</strong>
                        {% if student.getStudentSchool.getAttention %}
                            {{ student.getStudentSchool.getAttention|trans }}
                        {% else %}
                            Sin definir
                        {% endif %}
                    </p>
                    <p><strong>Relación con sus compañeras/os:</strong>
                        {% if student.getStudentSchool.getStudentRelationship %}
                            {{ student.getStudentSchool.getStudentRelationship|trans }}
                        {% else %}
                            Sin definir
                        {% endif %}
                    </p>
                    <p><strong>Relación con sus profesoras/es:</strong>
                        {% if student.getStudentSchool.getTeacherRelationship %}
                            {{ student.getStudentSchool.getTeacherRelationship|trans }}
                        {% else %}
                            Sin definir
                        {% endif %}
                    </p>
                    <p><strong>Hábitos de trabajo:</strong>
                        {% if student.getStudentSchool.getWorkHabits %}
                            {{ student.getStudentSchool.getWorkHabits|trans }}
                        {% else %}
                            Sin definir
                        {% endif %}
                    </p>
                    <p><strong>Hábitos de estudio:</strong>
                        {% if student.getStudentSchool.getStudyHabits %}
                            {{ student.getStudentSchool.getStudyHabits|trans }}
                        {% else %}
                            Sin definir
                        {% endif %}
                    </p>
                    <p><strong>Comportamiento:</strong>
                        {% if student.getStudentSchool.getBehavior %}
                            {{ student.getStudentSchool.getBehavior|trans }}
                        {% else %}
                            Sin definir
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Características de aprendizaje
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Es responsable:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getResponsible} %}

                    </p>
                    <p>
                        <strong>Está motivada/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getDriven} %}

                    </p>
                    <p>
                        <strong>Está atenta/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getAttentive} %}

                    </p>
                    <p>
                        <strong>Es reflexiva/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getThoughtful} %}


                    </p>
                    <p>
                        <strong>Es independiente:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getIndependent} %}

                    </p>
                    <p>
                        <strong>Es organizada/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getOrganized} %}

                    </p>
                    <p>
                        <strong>Está desmotivada/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getDemotivated} %}

                    </p>
                    <p>
                        <strong>Es despreocupada/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getCarefree} %}

                    </p>
                    <p>
                        <strong>Es distraída/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getDistracted} %}

                    </p>
                    <p>
                        <strong>Es impulsiva/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getImpulsive} %}

                    </p>
                    <p>
                        <strong>Es dependiente:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getDependent} %}

                    </p>
                    <p>
                        <strong>Es desorganizada/o:</strong>
                        {% include ':student:if_control.html.twig' with {'property':student.getStudentSchool.getDisorganized} %}

                    </p>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Observaciones
                </div>
                <div class="panel-body">
                    {{ student.getStudentSchool.getObservations }}
                </div>
            </div>
        </div>

    </div>
{% else %}
    <p>No se han definido los datos académicos. Por favor, añádelos a continuación. <a
                href="{{ path('studentschool_new', {'student_id': student.id}) }}">Añadir</a></p>
{% endif %}