{% extends '::layout_graph.html.twig' %}

{% block title_wrapper %}
    Resumen de amonestaciones por nivel
{% endblock %}
{% block main %}
    <div class="col-lg-12">
        <p>Selecciona de la siguiente lista el nivel que quieres analizar:</p>
        <ul class="list-inline">
        {% for course_type in courses_type %}
            <li><a href="{{ path('level_statistics_warning', {'course_type_id': course_type.id,'year':year}) }}">{{ course_type }}</a> </li>
        {% endfor %}
            <li><a href="{{ path('level_statistics_warning', {'year':year}) }}">Datos generales</a></li>
        </ul>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Datos anuales
            </div>
            <div class="panel-body">

                <div id="container" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Datos de amonestaciones por tipo
            </div>
            <div class="panel-body">

                <div id="container2" style="width:100%; height:600px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Datos de amonestaciones por tipo de sanción
            </div>
            <div class="panel-body">

                <div id="container3" style="width:100%; height:600px;"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
{% block graph_js %}
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script>

        $(function () {
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Resumen por nivel de incidencias de comportamiento anuales'
                },

                subtitle: {
                    text: 'Partes y faltas graves. IES La Cabrera'
                },

                yAxis: {
                    min: 0,
                    title: {
                        text: 'Número de incidencias por nivel'
                    }
                },
                xAxis: {
                    categories: [
                        {% for type in warning_type %}
                        '{{ type }}',
                        {% endfor %}
                    ],
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> incidencias<br/>'
                },

                legend: {
                    enabled: true
                },

                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    }
                },
                series: [
                        {% for key,warnings in level_year_warnings %}
                    {
                        name: '{{ key }}',
                        data: [{% for warning in warnings %}{{ warning }}{% if not loop.last %},{% endif %}{% endfor %}]
                    },
                        {% endfor %}
                ]
            });
            var myChart = Highcharts.chart('container2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Resumen por nivel de amonestaciones anuales'
                },

                subtitle: {
                    text: 'Tipos de Amonestaciones. IES La Cabrera'
                },

                yAxis: {
                    min: 0,
                    title: {
                        text: 'Número de Amonestaciones por nivel'
                    }
                },
                xAxis: {
                    categories: [
                        {% for type in major_offence_type %}
                        '{{ type }}',
                        {% endfor %}
                    ],
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> incidencias<br/>'
                },

                legend: {
                    enabled: true
                },

                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    }
                },
                series: [
                    {% for key,warnings in level_offence_year_warnings %}
                    {
                        name: '{{ key }}',
                        data: [{% for warning in warnings %}{{ warning }}{% if not loop.last %},{% endif %}{% endfor %}]
                    },
                    {% endfor %}
                ]
            });
            var myChart = Highcharts.chart('container3', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Resumen por nivel de tipos de sanción anuales'
                },

                subtitle: {
                    text: 'Tipos de Sanciones. IES La Cabrera'
                },

                yAxis: {
                    min: 0,
                    title: {
                        text: 'Número de Sanciones por nivel'
                    }
                },
                xAxis: {
                    categories: [
                        {% for type in penalty_type %}
                        '{{ type }}',
                        {% endfor %}
                    ],
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> incidencias<br/>'
                },

                legend: {
                    enabled: true
                },

                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    }
                },
                series: [
                    {% for key,warnings in level_penalty_year_warnings %}
                    {
                        name: '{{ key }}',
                        data: [{% for warning in warnings %}{{ warning }}{% if not loop.last %},{% endif %}{% endfor %}]
                    },
                    {% endfor %}
                ]
            });
        })
    </script>

{% endblock %}