{% extends '::layout_crud.html.twig' %}
{% block title_wrapper %}Añadir Datos Académicos {% endblock %}
{% block main -%}
    <div class="panel panel-default">

        <div class="panel-body">
            {{ form_start(edit_form,{'attr': {'role': 'form' }}) }}
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Contexto escolar
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                {{ form_errors(edit_form.repeat_grade) }}
                                <label>{{ form_label(edit_form.repeat_grade) }}</label>
                                {{ form_widget(edit_form.repeat_grade,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.adapted) }}
                                <label>{{ form_label(edit_form.adapted) }}</label>
                                {{ form_widget(edit_form.adapted,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.advance_with_fail) }}
                                <label>{{ form_label(edit_form.advance_with_fail) }}</label>
                                {{ form_widget(edit_form.advance_with_fail,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.fail_subject) }}
                                <label>{{ form_label(edit_form.fail_subject) }}</label>
                                {{ form_widget(edit_form.fail_subject,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Dificultades de aprendizaje
                        </div>
                        <div class="panel-body">
                            <p>Marca las casillas en las que la/el estudiante presente dificultades</p>
                            <div class="form-group">
                                {{ form_errors(edit_form.reading_comprehension) }}
                                {{ form_widget(edit_form.reading_comprehension) }}
                                {{ form_label(edit_form.reading_comprehension) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.oral) }}
                                {{ form_widget(edit_form.oral) }}
                                {{ form_label(edit_form.oral) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.written) }}
                                {{ form_widget(edit_form.written) }}
                                {{ form_label(edit_form.written) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.oral_expression) }}
                                {{ form_widget(edit_form.oral_expression) }}
                                {{ form_label(edit_form.oral_expression) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.calculation) }}
                                {{ form_widget(edit_form.calculation) }}
                                {{ form_label(edit_form.calculation) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.troubleshooting) }}
                                {{ form_widget(edit_form.troubleshooting) }}
                                {{ form_label(edit_form.troubleshooting) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.spelling) }}
                                {{ form_widget(edit_form.spelling) }}
                                {{ form_label(edit_form.spelling) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.vocabulary) }}
                                {{ form_widget(edit_form.vocabulary) }}
                                {{ form_label(edit_form.vocabulary) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.attention) }}
                                <label>{{ form_label(edit_form.attention) }}</label>
                                {{ form_widget(edit_form.attention,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.student_relationship) }}
                                <label>{{ form_label(edit_form.student_relationship) }}</label>
                                {{ form_widget(edit_form.student_relationship,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.teacher_relationship) }}
                                <label>{{ form_label(edit_form.teacher_relationship) }}</label>
                                {{ form_widget(edit_form.teacher_relationship,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.work_habits) }}
                                <label>{{ form_label(edit_form.work_habits) }}</label>
                                {{ form_widget(edit_form.work_habits,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.study_habits) }}
                                <label>{{ form_label(edit_form.study_habits) }}</label>
                                {{ form_widget(edit_form.study_habits,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.behavior) }}
                                <label>{{ form_label(edit_form.behavior) }}</label>
                                {{ form_widget(edit_form.behavior,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Características de aprendizaje
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {{ form_errors(edit_form.responsible) }}
                                <label>{{ form_label(edit_form.responsible) }}</label>
                                {{ form_widget(edit_form.responsible,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.driven) }}
                                <label>{{ form_label(edit_form.driven) }}</label>
                                {{ form_widget(edit_form.driven,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.attentive) }}
                                <label>{{ form_label(edit_form.attentive) }}</label>
                                {{ form_widget(edit_form.attentive,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.thoughtful) }}
                                <label>{{ form_label(edit_form.thoughtful) }}</label>
                                {{ form_widget(edit_form.thoughtful,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_errors(edit_form.independent) }}
                                <label>{{ form_label(edit_form.independent) }}</label>
                                {{ form_widget(edit_form.independent,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.organized) }}
                                <label>{{ form_label(edit_form.organized) }}</label>
                                {{ form_widget(edit_form.organized,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.demotivated) }}
                                <label>{{ form_label(edit_form.demotivated) }}</label>
                                {{ form_widget(edit_form.demotivated,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.carefree) }}
                                <label>{{ form_label(edit_form.carefree) }}</label>
                                {{ form_widget(edit_form.carefree,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.distracted) }}
                                <label>{{ form_label(edit_form.distracted) }}</label>
                                {{ form_widget(edit_form.distracted,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.impulsive) }}
                                <label>{{ form_label(edit_form.impulsive) }}</label>
                                {{ form_widget(edit_form.impulsive,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.dependent) }}
                                <label>{{ form_label(edit_form.dependent) }}</label>
                                {{ form_widget(edit_form.dependent,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(edit_form.disorganized) }}
                                <label>{{ form_label(edit_form.disorganized) }}</label>
                                {{ form_widget(edit_form.disorganized,{'attr':{'placeholder':'','class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Observaciones generales
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {{ form_errors(edit_form.observations) }}
                                <label>{{ form_label(edit_form.observations) }}</label>
                                {{ form_widget(edit_form.observations,{'attr':{'placeholder':'Observaciones generales','class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Actualizar"/>
        {{ form_end(edit_form) }}
    </div>
    </div>

{% endblock %}
