{% extends '::layout_show.html.twig' %}
{% block more_css %}
    <link rel="stylesheet" href="{{ asset('bundles/app/fancybox/jquery.fancybox.css') }}"/>
{% endblock %}
{% block main -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Ficha de tutora/or: {{ teacher }} </h1>
            {% if teacher.getMentorCourse == null %}
                <div class="alert alert-danger">
                    Debes definir el curso que tutoriza <a
                            href="{{ path('teacher_select_mentor_course', {'teacher_id': teacher.id}) }}"
                            class="alert-link">Indicar</a>.
                </div>
            {% endif %}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p><strong>Nombre: </strong>{{ teacher }}</p>

                    <p><strong>Teléfono: </strong>{{ teacher.getPhone }}</p>

                    <p><strong>Correo electrónico: </strong>{{ teacher.getEmail }}</p>
                    {% if teacher.getMentorCourse is not null %}
                        <p><strong>Tutoriza al curso: <a
                                        href="{{ path('course_show', {'id': teacher.getMentorCourse.id}) }}">{{ teacher.getMentorCourse.title }}</a>
                            </strong></p>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_JEFATURA") or (is_granted("ROLE_TEACHER") and app.user==teacher.getUser) %}
                        <p><strong>Usuario:</strong> {{ teacher.getUser.username }}</p>
                        <p>
                            <strong>Contraseña:</strong> {{ teacher.getPassw }} {#<a href="{{ path('fos_user_change_password') }}">Cambiar</a>#}
                        </p>

                    {% endif %}
                    {% if teacher.getIsMediator %}
                        <div class="alert alert-success">
                            Esta/e profesor es MEDIADORA/OR
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <ul class="list-inline" l>
        <li>
            <a href="{{ path('teacher_index') }}">{{ "Back to the list"|trans }}</a>
        </li>
        {% if (is_granted("ROLE_TEACHER") and app.user.getTeacher == teacher) or is_granted("ROLE_ADMIN") or is_granted("ROLE_JEFATURA") %}
            <li>
                <a href="{{ path('teacher_edit', { 'id': teacher.id }) }}">Editar</a>
            </li>
        {% endif %}
        {% if (is_granted("ROLE_ADMIN")   or is_granted("ROLE_JEFATURA")) %}
            {% if not teacher.getIsMediator %}
                <li><a href="{{ path('mediation_set_mediation', {'id': teacher.id, 'type': 'teacher'}) }}">Convertir en
                        mediadora/or</a></li>
            {% endif %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="{{ "Borrar" }}"
                       onclick="return confirm('¿Estás segura/o de eliminar esta/e profesora/or?')">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}