{% extends '::layout_show.html.twig' %}
{% block more_css %}
    <link rel="stylesheet" href="{{ asset('bundles/app/fancybox/jquery.fancybox.css') }}"/>
{% endblock %}
{% block main -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ warning }} {{ warning.student }}

            </h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <p>
                            <a href="{{ path('student_show', {'id': warning.student.id}) }}">Ir a la ficha de la/el
                                estudiante
                                : {{ warning.student }}</a>
                        </p>
                    </div>
                    <p><strong>Tipo de incicencia: </strong>{{ warning.warningType }}</p>

                    <p><strong>Fecha:</strong> {{ warning.date|localizeddate('long','none','es') }}</p>

                    <p><strong>Profesora/or: </strong><a
                                href="{{ path('teacher_show', {'id': warning.teacher.id}) }}"> {{ warning.teacher }}</a>
                    </p>
                    {% if  warning.warningtype.id==1 %}
                        <p><strong>Información: </strong>{{ warning.information|raw }}</p>
                    {% elseif  warning.warningtype.id==2 %}
                        <p><strong>Tipo de falta grave:</strong> {{ warning.majoroffencetype }}</p>
                        <p><strong>Descripción del hecho:</strong> {{ warning.description|raw }}</p>
                        <p><strong>Sanción</strong> {{ warning.penaltytype }}</p>
                        <p><strong>Fecha inicio de
                                sanción:</strong> {{ warning.penaltystartdate|localizeddate('long','none','es') }}</p>
                        <p><strong>Fecha fin de
                                sanción:</strong> {{ warning.penaltyenddate|localizeddate('long','none','es') }}</p>
                    {% endif %}

                    <p>
                        <strong>¿Ha acudido a la SAI?:</strong>
                        {% include ':warning:checkbox_control.html.twig' with {'property':warning.sai} %}
                        {% if warning.sai==1 %}

                    <p><strong>Profesora/or de guardia en la SAI: </strong><a
                                href="{{ path('teacher_show', {'id': warning.getSaiTeacher.id}) }}"> {{ warning.getSaiTeacher }}</a>
                    </p>
                    <p>
                        <p><strong>Observaciones sobre la estancia en la SAI:</strong> {{ warning.getSaiObservations|raw }}</p>
                    </p>
                    {% endif %}
                    </p>

                    <p>
                        <strong>¿Ha devuelto firmada la incidencia?:</strong>
                        {% include ':warning:checkbox_control.html.twig' with {'property':warning.signed} %}

                    </p>


                </div>
            </div>
        </div>
        <div class="panel-footer">
            <p><a href="{{ path('warning_edit', {'id': warning.id, 'student': warning.student.id}) }}">Editar Incidencia</a>
                {{ form_start(delete_form) }}
                <input type="submit" value="{{"Borrar"}}" onclick="return confirm('¿Estás segura/o de eliminar esta incidencia?')">
                {{ form_end(delete_form) }}
            </p>

        </div>
    </div>

{% endblock %}