{% extends '::layout_crud.html.twig' %}
{% block title_wrapper %}A침adir reuni칩n{% endblock %}
{% block main %}
<div class="panel panel-default">

    <div class="panel-body">
        {{ form_start(form, {'attr': {'role': 'form' }}) }}
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_errors(form.title) }}
                    <label>{{ form_label(form.title) }}</label>
                    {{ form_widget(form.title,{'attr':{'class':'form-control','placeholder':'Descripci칩n'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(form.date) }}
                    <label>{{ form_label(form.date) }}</label>
                    {{ form_widget(form.date,{'attr':{'placeholder':'Fecha de la reuni칩n'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.meeting_board) }}
                    <label>{{ form_label(form.meeting_board) }}</label>
                    {{ form_widget(form.meeting_board,{'attr':{'class':'form-control','placeholder':''}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.meeting_type) }}
                    <label>{{ form_label(form.meeting_type) }}</label>
                    {{ form_widget(form.meeting_type,{'attr':{'class':'form-control','placeholder':''}}) }}
                </div>
            </div>
        </div>
        <input type="submit" value="Crear"/>
        {{ form_end(form) }}
    </div>
</div>



    <ul>
        <li>
            <a href="{{ path('course_index') }}">{{"Back to the list"|trans}}</a>
        </li>
    </ul>
{% endblock %}
{% block specific_js %}
    <script>
        $('.datepicker').pickadate({
            formatSubmit: 'yyyy-mm-dd',
            onStart: function () {
                {% if meeting.getDate() %}
                var date = new Date("{{  meeting.getDate()}}");
                this.set('select', date)
                {% endif %}
            }
        })
       </script>
{% endblock %}